<%= link_to 'New Post', new_post_path, class:"button secondary" %>

<% @posts.each do |post| %>
  <%= render 'post', post: post %>
<% end %>
<div style="float:rigth">
Lista de categorias
<% @categories.each do |c| %>

  <%= link_to c.title, posts_path(title: c.title) %>
<% end %>
</div>